Repository Projeto-Extensao-INFNET/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm test:unit

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx,json,css}": ["npx ultracite format"],
  "src/**/*.{test,spec}.{js,jsx,ts,tsx}": ["pnpm test:unit"]
}

feat: install and setup React Query
  package.json
  pnpm-lock.yaml
  src/lib/react-query.ts
  src/main.tsx
Due: npx ultracite format

fix(husky): change pre commit script to use pnpm instead bun
  .husky/pre-commit
Due: none

fix(husky): fix pre-push hook to run correctly
  .husky/pre-push
Due: none

feat: add custom render function and update Vitest configuration
  src/tests/custom-render.tsx
  vitest.config.ts
  vitest.global.setup.ts
  vitest.setup.ts
Due: npx ultracite format

feat: remove lintstagedrc and biome configuration, add lefthook for pre-commit and pre-push hooks
  .lintstagedrc.json
  .prettierrc
  biome.jsonc
  lefthook.yml
Due: none

feat: add playwright authentication files to .gitignore
  .gitignore
Due: none

feat: remove husky pre-commit and pre-push hooks, delete mockServiceWorker.js
  .husky/pre-commit
  .husky/pre-push
  public/mockServiceWorker.js
Due: none

feat: implement HttpClient and types for API requests, remove unused axios setup and mocks
  src/api/http-client.ts
  src/api/http-client.types.ts
  src/api/mocks/index.ts
  src/lib/axios.ts
Due: npx ultracite format

feat: update Playwright config
  playwright.config.ts
  src/test/utils/test-utils.tsx
Due: npx ultracite format

feat: add environment variable validation and loading
  src/config/env/index.ts
  src/shared/env/index.ts
Due: npx ultracite format

feat: add vite environment type definitions
  src/@types/vite-env.d.ts
Due: npx ultracite format

feat: add Tailwind CSS
  src/styles/index.css
Due: npx ultracite format

feat: set up routing with React Router and define base route
  src/main.tsx
  src/shared/constants/routes.ts
Due: npx ultracite format

feat: update TypeScript configuration for improved module handling and type definitions
  tsconfig.app.json
Due: none

feat: add constant for internal server error status code
  src/shared/constants/errors.ts
Due: npx ultracite format

feat: add vite-tsconfig-paths plugin for improved TypeScript path resolution
  vite.config.ts
Due: none

feat: update scripts and install/update libs
  package.json
  pnpm-lock.yaml
Due: none

feat: update TODO list
  TODO.md
Due: none

feat: add ESLint configuration and jiti dependency
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: none

test: add unit test for <App/> component rendering
  src/App.test.tsx
Due: npx ultracite format, pnpm test:unit

feat: install & setup MSW and Orval
  orval.config.ts
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/__mocks__/browser.ts
  src/__mocks__/handlers.ts
  src/__mocks__/node.ts
  src/main.tsx
  vitest.setup.ts
Due: npx ultracite format

feat: update .gitignore to include environment files
  .gitignore
Due: none

feat: update tsconfig paths and include orval.config.ts
  tsconfig.app.json
Due: none

feat: add custom render utility for testing with React Testing Library
  src/__tests__/custom-render.tsx
Due: npx ultracite format

feat: add cleanup function to vitest setup for improved test isolation
  vitest.setup.ts
Due: none

feat: implement custom HTTP client for Orval
  src/api/orval-http-client.ts
Due: npx ultracite format

feat: add request interceptors to HttpClient
  src/api/http-client.ts
Due: npx ultracite format

feat: remove loadEnvFile and add VITE_BASE_URL
  src/shared/env/index.ts
Due: npx ultracite format

feat: import all orval msw mocks
  src/__mocks__/handlers.ts
Due: npx ultracite format

feat: test orval
  src/App.tsx
  src/tests/custom-render.tsx
Due: npx ultracite format

feat(api): generate msw api schemas, hooks and mocks
  src/api/http/generated/api.msw.ts
  src/api/http/generated/api.schemas.ts
  src/api/http/generated/api.ts
Due: npx ultracite format

feat: fix glob pattern in pre-commit and add prepare script for lefthook
  lefthook.yml
  package.json
Due: none

feat: update orval configuration to use split mode and adjust output paths
  orval.config.ts
Due: none

test: update import path for custom render in App test
  src/App.test.tsx
Due: npx ultracite format, pnpm test:unit

feat: enhance custom render with QueryClientProvider wrapper
  src/__tests__/custom-render.tsx
Due: npx ultracite format

test: test custom render
  src/App.test.tsx
Due: npx ultracite format, pnpm test:unit

feat: update mock handlers to use getListUsersMockHandler with default data
  src/__mocks__/handlers.ts
Due: npx ultracite format

fix: regenerate list users endpoint in orval
  src/api/http/generated/api.msw.ts
  src/api/http/generated/api.schemas.ts
  src/api/http/generated/api.ts
Due: npx ultracite format

refactor: update VITE_BASE_URL to accept any string
  src/shared/env/index.ts
Due: npx ultracite format

chore: export Wrapper component for custom render
  src/__tests__/custom-render.tsx
Due: npx ultracite format
