Repository Projeto-Extensao-INFNET/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm test:unit

feat: add dev:test script to run app on test environment with mock data
  package.json
Due: none

test: add tests for user list retrieval and error handling
  src/__tests__/api/http/get-users.test.ts
Due: npx ultracite format, pnpm test:unit

fix: update user data fetching hook from useGetUsers to useListUsers
  src/App.tsx
Due: npx ultracite format

feat: replace react-router with tanStack router
  package.json
  pnpm-lock.yaml
  src/main.tsx
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/index.tsx
  src/shared/constants/routes.ts
  vite.config.ts
Due: npx ultracite format

feat: refactor HTTP client and remove deprecated orval-http-client
  src/api/http-client.ts
  src/api/orval-http-client.ts
Due: npx ultracite format

feat: update orval configuration to use new HTTP client and remove base URL
  orval.config.ts
Due: none

chore: regenerate orval files
  src/api/http/generated/api.msw.ts
  src/api/http/generated/api.schemas.ts
  src/api/http/generated/api.ts
Due: npx ultracite format

style: format routeTree file
  src/routeTree.gen.ts
Due: npx ultracite format

feat: update dev scripts to run concurrently for vite and orval
  package.json
  pnpm-lock.yaml
Due: none

feat: add .env.local to .gitignore
  .gitignore
Due: none

feat: add .tanstack/ to .gitignore
  .gitignore
Due: none

feat: add orval -w to vite test environment
  package.json
Due: none

refactor(scripts): update orval watch script name
  package.json
Due: none

chore(orval): regenerate orval files
  src/api/http/generated/api.msw.ts
  src/api/http/generated/api.schemas.ts
  src/api/http/generated/api.ts
Due: npx ultracite format

feat: add .env.production and .env.local.example to .gitignore
  .gitignore
Due: none

fix: update import path for MSW worker
  src/main.tsx
Due: npx ultracite format

chore: remove dotenv-cli from dependencies
  package.json
Due: none

chore: remove App test file
  src/App.test.tsx
Due: npx ultracite format, pnpm test:unit

feat: add .env.test.example
  .env.test.example
Due: none

feat: add react-icons and re-install concurrently to dependencies
  package.json
  pnpm-lock.yaml
Due: none

feat: re-gen orval files
  src/api/http/generated/api.msw.ts
  src/api/http/generated/api.schemas.ts
  src/api/http/generated/api.ts
Due: npx ultracite format

feat: add form components including Container, Field, Input, Label, Root, and ShowPassword
  src/presentation/components/ui/form/_components/container/index.tsx
  src/presentation/components/ui/form/_components/field/index.tsx
  src/presentation/components/ui/form/_components/input/index.tsx
  src/presentation/components/ui/form/_components/label/index.tsx
  src/presentation/components/ui/form/_components/root/index.tsx
  src/presentation/components/ui/form/_components/show-password/index.tsx
  src/presentation/components/ui/form/index.ts
  src/presentation/components/ui/form/input.model.ts
Due: npx ultracite format

feat: initial commit
  TODO.md
  components.json
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/api/http-client.ts
  src/components/ui/button.tsx
  src/lib/utils.ts
  src/pages/register/page.tsx
  src/presentation/components/ui/button/index.tsx
  src/presentation/components/ui/form/_components/error/index.tsx
  src/presentation/components/ui/form/index.ts
  src/presentation/view-models/register/index.tsx
  src/presentation/view-models/register/register.view.tsx
  src/presentation/view-models/register/useRegisterModel.ts
  src/shared/schemas/auth/register/index.ts
  src/shared/stores/useAuth.store.ts
  src/styles/index.css
Due: npx ultracite format

feat: install shadcnUI button, calendar, date-picker, and popover components
  components.json
  package.json
  pnpm-lock.yaml
  src/presentation/components/ui/button.tsx
  src/presentation/components/ui/button/index.tsx
  src/presentation/components/ui/calendar.tsx
  src/presentation/components/ui/date-picker.tsx
  src/presentation/components/ui/popover.tsx
Due: npx ultracite format

fix: update register schema zod validations
  src/presentation/view-models/register/register.schema.ts
  src/shared/schemas/auth/register/index.ts
Due: npx ultracite format

refactor: refactor Input component to use forwardRef for better integration with React Hook Form
  src/presentation/components/ui/form/_components/input/index.tsx
Due: npx ultracite format

feat: add ACCOUNT_TYPES and DOCUMENT_TYPES constants
  src/shared/constants/constants.ts
Due: npx ultracite format

feat: add register route with Register component
  src/routes/_register/register.tsx
Due: npx ultracite format

chore: add useInputModel hook close to input component
  src/presentation/components/ui/form/_components/input/input.model.ts
Due: npx ultracite format

style: enhance form components with layout adjustments and className support
  src/presentation/components/ui/form/_components/container/index.tsx
  src/presentation/components/ui/form/_components/field/index.tsx
  src/presentation/components/ui/form/_components/label/index.tsx
  src/presentation/components/ui/form/_components/root/index.tsx
Due: npx ultracite format

refactor: replace icon components with lucide-react for consistency
  src/presentation/components/ui/form/_components/show-password/index.tsx
Due: npx ultracite format

chore: remove commented interceptor setup for cleaner code
  src/api/http-client.ts
Due: npx ultracite format

chore: remove RegisterPage component
  src/pages/register/page.tsx
Due: npx ultracite format

feat: add RHF control, update default form values and add navigation to onSubmit
  src/presentation/view-models/register/useRegisterModel.ts
Due: npx ultracite format

feat: add PageTitle component for registration page
  src/presentation/view-models/register/_components/page-title/index.tsx
Due: npx ultracite format

feat: update routeTree to include registration, login, and home routes
  src/routeTree.gen.ts
Due: npx ultracite format

chore: add initial login related components
  src/presentation/view-models/login/index.tsx
  src/presentation/view-models/login/login.view.tsx
  src/presentation/view-models/login/useLoginModel.ts
  src/presentation/view-models/register/register.view.tsx
  src/routes/_login/login.tsx
Due: npx ultracite format

feat: add home route with basic RouteComponent
  src/routes/_home/home.tsx
Due: npx ultracite format

feat: update App component to link to registration page
  src/App.tsx
Due: npx ultracite format

feat: update TODO list
  TODO.md
Due: none

Path conditions:
  npx ultracite format: any of: src/**/*.{js,jsx,ts,tsx,json,css}
  pnpm test:unit: any of: src/**/*.{test,spec}.{js,jsx,ts,tsx}
