Repository Projeto-Extensao-INFNET/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm test:unit

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx,json,css}": ["npx ultracite format"],
  "src/**/*.{test,spec}.{js,jsx,ts,tsx}": ["pnpm test:unit"]
}

feat: enhance Input component to support dynamic className merging
  src/presentation/components/ui/form/_components/input/index.tsx
Due: npx ultracite format

refactor: simplify Input component to use InputHTMLAttributes directly
  src/presentation/components/ui/form/_components/input/index.tsx
Due: npx ultracite format

chore: regenerate orval files
  src/api/http/generated/api.msw.ts
  src/api/http/generated/api.schemas.ts
  src/api/http/generated/api.ts
Due: npx ultracite format

chore: add TODO comments
  src/routes/__root.tsx
  src/routes/_home/home.tsx
  src/routes/index.tsx
Due: npx ultracite format

chore: add TODO comments
  src/api/http-client.ts
Due: npx ultracite format

feat: update login route to use Login component
  src/routes/_login/login.tsx
Due: npx ultracite format

feat: add PageTitle component
  src/presentation/components/page-title/index.tsx
Due: npx ultracite format

feat: update navigation after registration to redirect to login page
  src/presentation/view-models/register/useRegisterModel.ts
Due: npx ultracite format

feat: update PageTitle component and add navigation to login
  src/presentation/view-models/register/register.view.tsx
Due: npx ultracite format

feat: add login form validation schema using zod
  src/presentation/view-models/login/login.schema.ts
Due: npx ultracite format

feat: implement login form handling with validation and navigation
  src/presentation/view-models/login/useLoginModel.ts
Due: npx ultracite format

feat: implement login view with form handling and navigation
  src/presentation/view-models/login/login.view.tsx
Due: npx ultracite format

chore: remove unused App and PageTitle components
  src/App.tsx
  src/presentation/view-models/register/_components/page-title/index.tsx
Due: npx ultracite format

chore: add TODO comments
  src/__mocks__/handlers.ts
Due: npx ultracite format

chore: add TODO comments
  src/shared/stores/useAuth.store.ts
Due: npx ultracite format

docs: update README
  README.md
Due: none

todo: update TODO list
  TODO.md
Due: none

chore: remove TanStack directory from .gitignore
  .gitignore
Due: none

chore: change stores folder name to store
  src/shared/store/useAuth.store.ts
Due: npx ultracite format

chore: move schemas to dedicated folder
  src/shared/schemas/login.schema.ts
  src/shared/schemas/register.schema.ts
Due: npx ultracite format

feat: implement TanStackQueryProvider
  src/main.tsx
  src/shared/integrations/tanstack-query/index.tsx
Due: npx ultracite format

chore: split constants in errors and constants folders
  src/shared/constants/index.ts
  src/shared/errors/index.ts
Due: npx ultracite format

chore: move form folder to components folder root
  src/presentation/components/form/_components/container/index.tsx
  src/presentation/components/form/_components/error/index.tsx
  src/presentation/components/form/_components/field/index.tsx
  src/presentation/components/form/_components/input/index.tsx
  src/presentation/components/form/_components/input/input.model.ts
  src/presentation/components/form/_components/label/index.tsx
  src/presentation/components/form/_components/root/index.tsx
  src/presentation/components/form/_components/show-password/index.tsx
  src/presentation/components/form/index.ts
Due: npx ultracite format

feat: refactor environment variable validation using t3 env
  src/shared/env/index.ts
Due: npx ultracite format

fix: update import path for INTERNAL_SERVER_ERROR constant
  src/api/http-client.ts
Due: npx ultracite format

feat: add schemas to dedicated folders close to their models
  src/presentation/view-models/login/schema/index.ts
  src/presentation/view-models/register/schema/index.ts
Due: npx ultracite format

feat: implement TanStack Query and Router providers
  src/integrations/tanstack-query/index.tsx
  src/integrations/tanstack-router/index.tsx
  src/lib/react-query.ts
  src/main.tsx
Due: npx ultracite format

fix: update import paths for login and register schemas
  src/presentation/view-models/login/useLoginModel.ts
  src/presentation/view-models/register/useRegisterModel.ts
Due: npx ultracite format

chore: files replaced
  src/__tests__/api/http/get-users.test.ts
  src/presentation/components/ui/form/_components/container/index.tsx
  src/presentation/components/ui/form/_components/error/index.tsx
  src/presentation/components/ui/form/_components/field/index.tsx
  src/presentation/components/ui/form/_components/input/index.tsx
  src/presentation/components/ui/form/_components/input/input.model.ts
  src/presentation/components/ui/form/_components/label/index.tsx
  src/presentation/components/ui/form/_components/root/index.tsx
  src/presentation/components/ui/form/_components/show-password/index.tsx
  src/presentation/components/ui/form/index.ts
Due: npx ultracite format, pnpm test:unit

feat: setup Storybook files following vite suggestions
  .storybook/main.ts
  .storybook/preview.ts
Due: none

fix: update import path for Form component in DatePicker
  src/presentation/components/ui/date-picker.tsx
Due: npx ultracite format

chore: re-gen orval files
  src/api/http/generated/api.msw.ts
  src/api/http/generated/api.schemas.ts
Due: npx ultracite format

feat(deps): install storybook and t3-env
  package.json
  pnpm-lock.yaml
Due: none

feat: update .gitignore to include TanStack and Storybook files
  .gitignore
Due: none

style: format file
  vitest.config.ts
Due: none

feat: add login and register page components
  src/pages/login/page.tsx
  src/pages/register/page.tsx
Due: npx ultracite format
