Repository Projeto-Extensao-INFNET/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm test:unit

fix: update import paths for form components and constants in RegisterView
  src/presentation/view-models/register/register.view.tsx
Due: npx ultracite format

fix: update import path for Form component in LoginView
  src/presentation/view-models/login/login.view.tsx
Due: npx ultracite format

feat: update login and register routes to use page components and display page title
  src/routes/_login/login.tsx
  src/routes/_register/register.tsx
Due: npx ultracite format

docs: update TODO list
  TODO.md
Due: none

fix: update vitest setup to use afterEach for cleanup and add navigateMock
  vitest.setup.ts
Due: none

refactor: update CustomRender function to accept a broader UI type and options interface
  src/__tests__/custom-render.tsx
Due: npx ultracite format

chore: move schemas to folder root
  src/presentation/view-models/login/login.schema.ts
  src/presentation/view-models/register/register.schema.ts
Due: npx ultracite format

fix: update import paths for login and register schemas
  src/presentation/view-models/login/useLoginModel.ts
  src/presentation/view-models/register/useRegisterModel.ts
Due: npx ultracite format

test: add initial unit tests for useLoginModel
  src/presentation/view-models/login/__test__/model.test.ts
Due: npx ultracite format, pnpm test:unit

test: add initial tests for LoginView component
  src/presentation/view-models/login/__test__/view.test.tsx
Due: npx ultracite format, pnpm test:unit

refactor: implement static method to instance http client, add params to request, unify BASE_URL and endpoint, improve error logs and remove orval mutator
  src/api/http-client.ts
Due: npx ultracite format

refactor(orval): update API input URL and adjust mutator path and name
  orval.config.ts
Due: none

feat: add params to http request type
  src/api/http-client.types.ts
Due: npx ultracite format

feat: implement OrvalMutator for API requests with error handling
  src/api/orval.mutator.ts
Due: npx ultracite format

feat(orval): generate orval files with new mutator
  src/api/http/generated/api.msw.ts
  src/api/http/generated/api.schemas.ts
  src/api/http/generated/api.ts
Due: npx ultracite format

feat(env): add CI environment option and set default base api url
  src/shared/env/index.ts
Due: npx ultracite format

feat: move BASE_URL to constants and update imports in http-client and orval.mutator
  src/api/http-client.ts
  src/api/orval.mutator.ts
  src/shared/constants/index.ts
Due: npx ultracite format

feat(playwright): refactor configuration to use environment variables and testDir
  playwright.config.ts
Due: none

refactor(testing): update vitest setup to use new custom render
  vitest.setup.ts
Due: none

feat(testing): introduce custom render for React Query
  test/utils/custom-render.tsx
Due: none

chore(vitest): add 'unit' name to test suite
  vitest.config.ts
Due: none

docs: add pull request template in Portuguese
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
Due: none

chore: update tsconfig and add trailing newline
  tsconfig.json
Due: none

refactor(presentation): restructure page components and remove redundant files
  src/pages/login/page.tsx
  src/pages/register/page.tsx
  src/presentation/pages/login/login.schema.ts
  src/presentation/pages/login/login.view.tsx
  src/presentation/pages/login/page.tsx
  src/presentation/pages/register/page.tsx
  src/presentation/pages/register/register.schema.ts
  src/presentation/pages/register/register.view.tsx
  src/presentation/pages/register/useRegisterModel.ts
Due: npx ultracite format

chore: update pnpm lockfile
  package.json
  pnpm-lock.yaml
Due: none

refactor(store): move auth store to root level
  src/store/useAuth.store.ts
Due: npx ultracite format

refactor(tests): move test utilities and mocks to dedicated folder
  src/__tests__/custom-render.tsx
  src/main.tsx
  test/__mocks__/browser.ts
  test/__mocks__/handlers.ts
  test/__mocks__/node.ts
  test/unit/presentation/view-models/login/model.test.ts
  test/unit/presentation/view-models/login/view.test.tsx
  tsconfig.app.json
Due: npx ultracite format

chore: migrate ESLint to flat config and update dependencies
  eslint.config.mjs
  eslint.config.ts
  package.json
Due: none

refactor(infra): organize core infrastructure files
  src/infra/api/http-client.ts
  src/infra/api/http-client.types.ts
  src/infra/api/http/generated/api.msw.ts
  src/infra/api/http/generated/api.schemas.ts
  src/infra/api/http/generated/api.ts
  src/infra/api/orval.mutator.ts
  src/infra/integrations/tanstack-query/index.tsx
  src/infra/integrations/tanstack-router/index.tsx
  src/presentation/pages/login/useLoginModel.ts
Due: npx ultracite format

feat(router): add dynamic document titles and update root layout
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/_home/home.tsx
  src/routes/index.tsx
Due: npx ultracite format

Path conditions:
  npx ultracite format: any of: src/**/*.{js,jsx,ts,tsx,json,css}
  pnpm test:unit: any of: src/**/*.{test,spec}.{js,jsx,ts,tsx}
